/* CSS Document */
#container{
	
	height:477px;
	margin:0px auto;
	border-right:1px solid #33FF00;
	border-bottom:1px solid #33FF00;
	overflow:hidden;
	position:relative;
}

#container img{
	
	position:absolute;
	display:block;
	left:0px;
	border-left: 1px solid #ccc;
	
}

